/* to do
-add fonts
-add icon to search bar
-positioning: header
 */
body {
    margin: 0;
    padding: 0;
    background-color: #ffb9b8;

}
.container {
  max-width: 100%;
  padding: 0 15px;
  justify-content: center;
  display: flex;
}
  
li {
    list-style: none;
    padding: 0;
}

.header {
    display:flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.row {
    
    display:flex;
    flex-direction: row;
    padding: 0;
}

.header__user-icon--features {
    width: 60px;
    height: 70px;
    margin-right: 50px;
    margin: 0;
}


.header__search-bar {
    outline: none;
    border: none;
}
.header__search-bar--features {
    
    border: black;
    
}

.header__search-bar--textarea-features {
    outline: none;
    width: 350px;
    height: 20px;
    border-color: white;
    outline-color: white;
    border-radius: 30px;
    padding-left: 40px;
    
}

.header__search-bar--icon {
    width: 18px;
    height: 18px;
    
    
  }

  .main__subjects {
    color: white;
    background-color: #c22472;
    width: 500px;
    height: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
  }

  .main__subjects--text {
    letter-spacing: 15px;
    line-height: 7px;
  }

  .column {
    margin: 0;
    padding: 0;
  }

  .footer {
    padding: 0;
    margin: 0;
    color: gray;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    margin-top:30px;
    max-width: 100%;
    line-height:2em;
    border-top:1px solid gray;
    padding-top: 30px;

  }

  .footer__position {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .footer__list {
    margin: 0;
    padding:0;
  }

  .footer__text {
    text-decoration: underline;
    color: rgb(59, 95, 95);
    
  }

.footer__text:hover,
.footer__text:focus {
  cursor: pointer;
  color: #c22472;
}

.social-links {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 50px;
}

.social-links__header {
  color: var(--main-white);
  font-size: 17px;
  text-decoration: none;
  line-height: 1.17;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 10px;
}

.social-links__icon-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}

.social-links__icons {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background:  #ffb9b8;
  margin-right: 10px;
  flex-direction: row;
  padding: 0;}

  .social-links__icons:hover,
  .social-links__icons:focus {
    background-color: #c22472;
    cursor: pointer;
  }

.social-links__icons--features {
  width: 21px;
  height: 21px;
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );

}

